@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

::selection {
    background: rgba(23, 162, 184, 0.3);
}

:root {
    --pink-color: #f2726a;
    --facebook-color: #3b5999;
    --instagram-color: #e1306c;
    --youtube-color: #de463b;
    --twitter-color: #46c1f6;
    --github-color: #333;
}

::selection {
    background: rgba(23, 162, 184, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    background-color: #f5f9e9;
}

/*menu của website */
header {
    height: 83px;
    margin-bottom: -13px;
    position: relative;
    z-index: 10;
}
header a {
    text-decoration: none;
}
.wrapper {
    background: #171c24;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.wrapper nav {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content {
    display: flex;
    align-items: center;
}
nav .content .links {
    margin-left: 80px;
    display: flex;
}
.content .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-left: 160px;
}
.content .links li {
    list-style: none;
}
.content .links li a, 
.content .links li label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 10px;
    transition: all 0.2s ease;  
}
.content .links li label {
    display: none;
}
.content .links li a:hover, 
.content .links li label:hover {
    background: #323c4e;
}
.wrapper .search-icon, 
.wrapper .menu-icon {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon {
    display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
    content: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.wrapper #show-search:checked ~ .search-box {
    opacity: 1;
    pointer-events: auto;
}
.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #171c24;
    padding: 0 100px 0 150px;
    font-family: 'Courier New', Courier, monospace;
}
.search-box input::placeholder {
    color: #fff;
}
.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: -40%;
    line-height: 31px;
    width: 70px;
    background: #171c24;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.wrapper input[type="checkbox"] {
    display: none;
}

/* style cho menu web */
.content .links ul {
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease;
}
.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px !important;
}
.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}
.content .links ul li {
    position: relative;
}
.content .links ul li:hover ul {
    top:0;
}

/* phần thân của web */
main {
    background-color: #f5f9e9;
    display: flex;
    flex-direction: row;
    color: black;
    margin-top: 70px;
    position: static;
    z-index: 1;
}

main h1 {
    position: absolute;
    margin-top: -80px;
}

.project,
.profile {
    margin-top: 50px;
}

.project {
    width: 60%;
    margin-left: 50px;
}

.card__project {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project__img {
    width: 250px;
}

.project_description {
    margin-top: 50px;
    margin-left: 50px;
}

.project_page {
    margin-bottom: 25px;
    margin-left: 50px;
}

.project__page span {
    padding: 5px 5px;
    background-color: #dadada;
    margin: 0 6px;
    border-radius: 5px;
    cursor: pointer;
}
.project__page span a {
    text-decoration: none;
    color: #272d40;
    font-weight: 200;
}
.project__page span a:hover {
    color: red;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #242628;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    margin-left: 25%;
    position: none;
    margin-left: 115%;
    margin-top: -60%;
}

.card__img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    transition: 0.25s;
    margin: 0 auto;
    margin-top: 15px;

    border-radius: 50%;
    border: 4px solid var(--pink-color);
    cursor: pointer;
}

.card__img:hover {
    width: 100%; 
    height: 100%;
    border-radius: unset;
    border: unset;
    transform: unset;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

h2 {
    color: white;
    margin-top: 40px;
}

p {
    color: var(--pink-color);
}

.card__social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card__social a{
    text-decoration: none;
    color: black;
}
.icon {
    margin: 0 20px;
    cursor: pointer;
    position: relative;
}

.icon i {
    height: 35px;
    width: 38px;
    border-radius: 50%;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.icon .tooltip:before {
    position: none;
    content: "";
    height: 15px;
    width: 15px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
}

.tooltip, 
.icon i {
    transition: 0.3s;
}

.icon:hover .tooltip {
    opacity: 1;
    top: -70px;
}

.icon:hover i {
    color: #fff;
}

.facebook .tooltip:before, 
.facebook:hover i, 
.facebook .tooltip {
    background: var(--facebook-color);
}

.github .tooltip:before, 
.github:hover i,
.github .tooltip {
    background: var(--github-color);
}

.instagram .tooltip:before, 
.instagram:hover i, 
.instagram .tooltip {
    background: var(--instagram-color);
}

button {
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    border: 1px solid var(--facebook-color);
    padding: 10px 20px;
    border-radius: inherit;
    cursor: pointer;
    transition: 0.25s;
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: var(--facebook-color);
}

/* cards */
.card__tabs {
    max-width: 700px;
    background: #fff;
    width: 95%;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 83%;
    padding: 25px 30px 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.card__tabs .header{
    font-size: 30px;
    font-weight: 600;
    color: #171c24;
    padding-bottom: 20px;
}
.card__tabs nav {
    position: relative;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
}
.card__tabs nav label {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #17a2b8;
    font-size: 17px;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;
}
.card__tabs nav label:hover {
    background: rgba(23, 162, 184, 0.3);
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog, 
#code:checked ~ nav label.code, 
#help:checked ~ nav label.help, 
#about:checked ~ nav label.about {
    color: #fff;
}
nav label i {
    padding-right: 7px;
}
nav .slider {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 5px;
    background: #17a2b8;
    transition: all 0.3s ease;
}
input[type="radio"]{
    display: none;
}
#blog:checked ~ nav .slider {
    left: 20%;
}
#code:checked ~ nav .slider {
    left: 40%;
}
#help:checked ~ nav .slider {
    left: 60%;
}
#about:checked ~ nav .slider {
    left: 80%;
}
section .content__tabs {
    display: none;
    background: #fff;
}
#home:checked ~ section .content-1, 
#blog:checked ~ section .content-2, 
#code:checked ~ section .content-3,
#help:checked ~ section .content-4, 
#about:checked ~ section .content-5{
    display: block;
}
section .content__tabs .title {
    font-size: 25px;
    font-weight: 500;
    margin: 30px 0 10px 0;
}
section .content__tabs p {
    text-align: justify;
}

/* Phần cuối trang web */
.content1{
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}
.content1 .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}
.content1 .p {
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
}
footer {
    width: 100%;
    background: #111;
}
.main-content {
    display: flex;
}
.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content {
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}
.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: red;
    top: -10px;
}
.left .content p{
    text-align: justify;
}
.left .content .social {
    margin: 20px 0 0 0;
}
.left .content .social a {
    padding: 0 2px;
}
.left .content .social a span {
    height: 40px;
    width: 40px;
    background: white;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.left .content .social a span:hover {
    background: var(--instagram-color);
}
.center .content .text{
    color: white;
}
.center .content .fas {
    font-size: 1.4375rem;
    background: white;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover {
    background: var(--facebook-color);
}
.center .content .phone{
    margin: 15px 0;
}
.right form .text {
    font-size: 1.6025rem;
    margin-bottom: 2px;
    color: white;
}
.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: white;
    padding-left: 10px;
    border: 1px solid #2222;
}
.right form input:focus, 
.right form textarea:focus {
    outline-color:#3b5999;
}
.right form input {
    height: 35px;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: var(--instagram-color);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: poiter;
    transition: 0.3s;
}
.right form .btn button:hover {
    background: var(--twitter-color);
}
.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}
.bottom center span {
    color: white;
}
.bottom center a{
    color: #f12020;
    text-decoration: none;
}
.fab {
    color: black;
}

/*resposive của website */ 
@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }
    .wrapper .logo {
        margin-right: 80px;
    }

    nav .content .links {
        margin-right: 30px;
    }
    .content .links li a {
        padding: 8px 13px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }

    main .project {
        align-items: center;
    }
    .project .project__page  {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .menu-icon {
        display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before {
        content: "\f00d";
    }

    nav .content .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
        
    }
    nav #show-menu:checked ~ .content .links {
        left: 0%;
    }
    .content .links li {
        margin: 15px 20px;
    }
    .content .links li a, 
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }

    .content .links li a.desktop-link {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 1400px;
    }
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card {
        width: 60%;
        height: 70%;
        margin: auto;
    }
    button {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .card__tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 4%;
    }
}

@media screen and (max-width: 400px) {
    .wrapper nav {
        padding: 0 10px;
    }
    .content .logo a {
        font-size: 27px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input {
        padding-right: 30px;
    }
}